/* body{
    background-color: rgba(0, 0, 0,0.7);
    background-size: cover;
    background-position: center;
    color: white;
} */
.allReviews{
    height: 400px; 
    overflow-y: scroll;
}
.allReviews::-webkit-scrollbar {
    display: none;
}

.allReviews form{
    display: inline-block;
}
.leftCard{
    height: fit-content;
}
.showImg{
    background-color: rgba(128, 128, 128 , 0.4);
    height: 300px;
    object-fit: contain;
    object-position: center;
}

.homeCard img{
    height: 250px;
}
.flash{
    transition: all 0.4s;
    height: 40px;
    display: flex;
    align-items: center;
}
.alert .btn-close{
    margin-top: -10px;
}
#navbarNavDropdown{
    transition: all 0.5s;
}
.allReviews h6{
    text-transform: capitalize;
    font-size: 1.1rem;
    text-decoration: underline;
    color: #11999E;
}

#map{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
#cluster-map{
    width: 100%; 
    height: 400px;
}